@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* !--------------------------------------------Start clolor-------------------------------------------------  */

:root {
    --gradient: linear-gradient(135deg, #0d47a1, #d32f2f);
    --OppositeGradient: linear-gradient(135deg, #d32f2fea, #0d47a1);
    --lightGradient: linear-gradient(135deg, #d32f2fb7, #0d48a1c0);
    --textColor: #000000;
    --white: #ffffffc8;
}

/* ?------------------------------------------End-clolor-----------------------------------------------------*/
/* !------------------------------------------Start-Global---------------------------------------------------*/

body {
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    /*? 1rem = 16px */
    color: var(--textColor);
}

a,
ul,
li {
    text-decoration: none;
    list-style-type: none;

}

button {
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    text-decoration: none;

    &:hover {
        transform: translate(0, -0.2rem);
        -webkit-transform: translate(0, -0.2rem);
        -moz-transform: translate(0, -0.2rem);
        -ms-transform: translate(0, -0.2rem);
        -o-transform: translate(0, -0.2rem);
        background: var(--gradient);

        a {
            color: var(--textColor);
        }
    }
}



/* ?----------------------------------------End-Global------------------------------------------------------- */
/* !----------------------------------------navBar----------------------------------------------------------- */
  
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--lightGradient);
    color: var(--textColor);
    padding: 10px 20px;
  }
  
  .navbar .logo {
    font-size: 1.5rem;
    font-weight: bold;
  }
  
  .navbar .nav-links {
    display: flex;
    list-style: none;
  }
  
  .navbar .nav-links li {
    margin: 0 10px;
    
  }
  
  .navbar .nav-links a {
    text-decoration: none;
    color: var(--textColor);
    transition: color 0.3s;
    

  }
  
  .navbar .nav-links a:hover {
    color: var(--white);
  }
  
  .navbar .hamburger {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
  }
  
  @media (max-width: 768px) {
    .navbar .nav-links {
      display: none;
      flex-direction: column;
      background: var(--lightGradient);
      position: absolute;
      top: 50px;
      right: 0;
      width: 100%;
      text-align: center;
      padding: 10px 0;
    }
  
    .navbar .nav-links.active {
      display: flex;
    }
  
    .navbar .hamburger {
      display: block;
    }
  }





/* ?----------------------------------------end-navBar--------------------------------------------------------- */
/* !----------------------------------------Start Header----------------------------------------------------  */


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    gap: 3rem;
    background: var(--gradient);
    height: 93vh;

}

.headerImage img {
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--white);
}

.headerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;

    h1 {
        font-size: 2.2rem;
        font-weight: 900;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .headerButton {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
    }
}


/* ?-------------------------------------------------End Header---------------------------------------------- */
/* !-------------------------------------------------Start About---------------------------------------------- */

#about {
    background: var(--OppositeGradient);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    gap: 3rem;
    height: 100vh;

    .aboutImage img {
        width: 35rem;
        height: 35rem;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid var(--white);
    }

    .aboutContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;

        h2 {
            font-size: 2.5rem;
            font-weight: 700;
        }

        p {
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
}

/* ?-------------------------------------------------End About---------------------------------------------- */
/* !-------------------------------------------------Start Services---------------------------------------------- */

article {
    background: var(--gradient);
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    gap: 3rem;
    height: 100vh;

    .services_heading {
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1rem;

        h2 {
            font-size: 2.5rem;
            font-weight: 700;
        }

        p {
            font-size: 1.2rem;
            font-weight: 500;
        }
    }

    .services_images {
        margin-top: 5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        justify-content: center;
        align-items: center;

    }

    .services_image img {
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid var(--white);
        margin: 1.2rem 1rem;
    }

}

/* ?-------------------------------------------------End Services---------------------------------------------- */
/* !-------------------------------------------------Start CTA---------------------------------------------- */

#cta {
    background: var(--OppositeGradient);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    gap: 3rem;
    height: 100vh;

    .cta_img img {
        width: 35rem;
        height: 35rem;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid var(--white);
    }

    .cta_Content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;

        h2 {
            font-size: 2.5rem;
            font-weight: 700;
        }

        p {
            font-size: 1.2rem;
            font-weight: 500;
        }

        .ctaButton {
            display: flex;
            gap: 1rem;
            margin-top: 1rem;
        }
    }
}

/* ?-------------------------------------------------End CTA---------------------------------------------- */
/* !-------------------------------------------------Start Footer---------------------------------------------- */

#footer {
    background: var(--lightGradient);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 2rem 3rem;
    /* height: 50vh; */
    justify-content: center;
    align-items: center;

    .footerContent {
        h2 {
            font-size: 2.5rem;
            font-weight: 700;
        }

        p {
            font-size: 1.2rem;
            font-weight: 500;
        }

    }

    .footer_suscription {
        margin-top: 1rem;
    }


}

/* ?-------------------------------------------------End Footer---------------------------------------------- */
/* !-------------------------------------------------Start Media Query---------------------------------------------- */
@media(max-width: 1050px) {
    header {
        flex-direction: column;
        gap: 2rem;
        height: 100%;

        .headerImage img {
            width: 25rem;
            height: 25rem;
        }

        .headerContent {
            h1 {
                font-size: 2rem;
            }

            h2 {
                font-size: 1.2rem;
            }
        }
    }

    #about {
        flex-direction: column;
        gap: 2rem;
        height: 100%;

        .aboutImage img {
            width: 25rem;
            height: 25rem;
        }

        .aboutContent {
            h2 {
                font-size: 2rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }

    article {
        flex-direction: column;
        gap: 2rem;
        height: 100%;

        .services_heading {
            h2 {
                font-size: 2rem;
            }

            p {
                font-size: 1rem;
            }
        }

        .services_images {
            margin-top: 3rem;
            grid-template-columns: repeat(1, 1fr);
            text-align: center;
            align-items: center;
            justify-content: center;
        }

        .services_image img {
            width: 10rem;
            height: 10rem;
        }
    }

    #cta {
        flex-direction: column;
        gap: 2rem;
        height: 100%;

        .cta_img img {
            width: 25rem;
            height: 25rem;
        }

        .cta_Content {
            h2 {
                font-size: 2rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }

    #footer {
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        padding: 2rem 1rem;
        height: 50%;

        .footerContent {
            h2 {
                font-size: 2rem;
            }

            p {
                font-size: 1rem;
            }
        }
    }
}




@media (max-width: 950px) {


    .services_images {
        margin-top: 3rem;
        grid-template-columns: repeat(1, 1fr);
    }
    #footer {
        grid-template-columns: repeat(1, 1fr);
    }

}