* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* !--------------------------------------------Start clolor-------------------------------------------------  */

:root {
    --gradient: linear-gradient(135deg, #0d47a1, #d32f2f);
    --OppositeGradient: linear-gradient(135deg, #d32f2fea,#0d47a1);
    --lightGradient: linear-gradient(135deg, #d32f2fb7, #0d48a1c0);
    --textColor: #000000;
    --white: #ffffffc8;
}

/* ?------------------------------------------End-clolor-----------------------------------------------------*/
/* !------------------------------------------Start-Global---------------------------------------------------*/

body {
    font-family: 'roboto mono', 'Montserrat Alternates', 'IBM Plex Mono', sans-serif;
    font-size: 16px;
    /*? 1rem = 16px */
    color: var(--textColor);
}

a,
ul,
li {
    text-decoration: none;
    list-style-type: none;

}

button {
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    text-decoration: none;

    &:hover {
        transform: translate(0, -0.2rem);
        -webkit-transform: translate(0, -0.2rem);
        -moz-transform: translate(0, -0.2rem);
        -ms-transform: translate(0, -0.2rem);
        -o-transform: translate(0, -0.2rem);
        background: var(--gradient);

        a {
            color: var(--textColor);
        }
    }
}



/* ?----------------------------------------End-Global------------------------------------------------------- */
/* !----------------------------------------navBar----------------------------------------------------------- */

.nav-navbar {
    height: 7vh;
    background: var(--lightGradient);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.7rem;
    margin: auto;
    text-decoration: none;
    gap: 3rem;
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;

    li,
    a {
        color: var(--textColor);
        font-size: 1.2rem;
        font-weight: 700;

        &:hover {
            color: blue;
            transform: translate(0, -0.2rem);
            -webkit-transform: translate(0, -0.2rem);
            -moz-transform: translate(0, -0.2rem);
            -ms-transform: translate(0, -0.2rem);
            -o-transform: translate(0, -0.2rem);
        }

    }
}
/* ?----------------------------------------end-navBar--------------------------------------------------------- */
/* !----------------------------------------Start Header----------------------------------------------------  */


header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    gap: 3rem;
    background: var(--gradient);
    height: 93vh;

}

.headerImage img {
    width: 35rem;
    height: 35rem;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid var(--white);
}

.headerContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 1rem;

    h1 {
        font-size: 2.2rem;
        font-weight: 900;
    }

    h2 {
        font-size: 1.5rem;
        font-weight: 700;
    }

    .headerButton {
        display: flex;
        gap: 1rem;
        margin-top: 1rem;
    }
}


/* ?-------------------------------------------------End Header---------------------------------------------- */
/* !-------------------------------------------------Start About---------------------------------------------- */

#about {
    background: var(--OppositeGradient);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    gap: 3rem;
    height: 100vh;
    .aboutImage img {
        width: 35rem;
        height: 35rem;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid var(--white);
    }
    .aboutContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;
        h2 {
            font-size: 2.5rem;
            font-weight: 700;
        }
        p {
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
}

/* ?-------------------------------------------------End About---------------------------------------------- */
/* !-------------------------------------------------Start Services---------------------------------------------- */

article{
    background: var(--gradient);
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    gap: 3rem;
    height: 100vh;

    .services_heading{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 1rem;
        h2{
            font-size: 2.5rem;
            font-weight: 700;
        }
        p{
            font-size: 1.2rem;
            font-weight: 500;
        }
    }
    .services_images{
        margin-top: 5rem;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 2rem;
        justify-content: center;
        align-items: center;

    }
    .services_image img{
        width: 15rem;
        height: 15rem;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid var(--white);
        margin: 1.2rem 1rem;
    }

}

/* ?-------------------------------------------------End Services---------------------------------------------- */
/* !-------------------------------------------------Start CTA---------------------------------------------- */

#cta {
    background: var(--OppositeGradient);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 3rem;
    gap: 3rem;
    height: 100vh;
    .cta_img img {
        width: 35rem;
        height: 35rem;
        border-radius: 50%;
        object-fit: cover;
        border: 2px solid var(--white);
    }
    .cta_Content {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 1rem;

        h2 {
            font-size: 2.5rem;
            font-weight: 700;
        }
        p {
            font-size: 1.2rem;
            font-weight: 500;
        }
        .ctaButton {
            display: flex;
            gap: 1rem;
            margin-top: 1rem;
        }
    }
}

/* ?-------------------------------------------------End CTA---------------------------------------------- */
/* !-------------------------------------------------Start Footer---------------------------------------------- */

#footer {
    background: var(--lightGradient);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
    padding: 2rem 3rem;
    /* height: 50vh; */
    justify-content: center;
    align-items: center;

    .footerContent {
        h2 {
            font-size: 2.5rem;
            font-weight: 700;
        }
        p {
            font-size: 1.2rem;
            font-weight: 500;
        }
        
    }
    .footer_suscription {
        margin-top: 1rem;
    }


}